In [263]:
import pandas as pd
import numpy as np

## Alle Daten

In [264]:
#data = pd.read_excel("karneval-kalorien_bereinigt_mit_Hersteller.xlsx")

# Ausgew√§hlte Daten inkl. fotos

In [265]:
data = data = pd.read_excel("Schokoriegel_Auswahl Tom_int.xlsx")

In [266]:
data.columns

Index(['Foto', 'Supermarkt', 'Hersteller', 'Name', 'Kalorien in kcal',
       'Fett in g', 'Kohlenhydrate in g', 'Zucker in g'],
      dtype='object')

In [267]:
#data = data[['Name','Hersteller', 'Fett in g', 'Zucker in g']]

In [268]:
#data = data.reindex(data.index.rename(['Platzierung']))

In [269]:
#data.index = data['Name']

In [270]:
#data.drop(columns=data['data'], axis=1)

## Name/Rename Index

In [271]:
#data.index.name = 'Index'

In [272]:
#data.set_index(data['Name'])

## Get Length of Pandas Rows

In [273]:
len(data.index)

29

## Add Foto-Columns

In [274]:
#data['Fotos'] = "" #np.arange(len(data.index))

In [275]:
data.head()

,Foto,Supermarkt,Hersteller,Name,Kalorien in kcal,Fett in g,Kohlenhydrate in g,Zucker in g
0,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Twix,492,24.0,65.0,49.0
1,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Mars,449,16.6,70.2,61.7
2,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Snickers,481,23.0,61.0,52.0
3,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Bounty,487,26.0,59.0,48.0
4,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Storck,Knoppers NussRiegel,535,31.8,52.3,38.3

## Add Fotos

In [276]:
#data['Fotos'] = data.Fotos.apply(lambda x: "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg")
#data.at[0, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg"
#data.at[1, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/LIDL_MC_Choco_Caramel_DSC1480.jpg"
#data.at[2, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_Peanut-Bits_DSC1491.jpg"

## Result

In [277]:
data.head()

,Foto,Supermarkt,Hersteller,Name,Kalorien in kcal,Fett in g,Kohlenhydrate in g,Zucker in g
0,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Twix,492,24.0,65.0,49.0
1,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Mars,449,16.6,70.2,61.7
2,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Snickers,481,23.0,61.0,52.0
3,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Mars GmbH,Bounty,487,26.0,59.0,48.0
4,https://bilder.ams3.cdn.digitaloceanspaces.com...,Diverse,Storck,Knoppers NussRiegel,535,31.8,52.3,38.3

## Rearrange Columns

In [278]:
data = data[['Foto','Name','Hersteller', 'Fett in g', 'Zucker in g']]

KeyError: "['davon Zucker in g'] not in index"

In [ ]:
data.head()

## Export CSV without Index and comma-separated

In [ ]:
data.to_csv("Data.csv", sep=",", index=False)

## Export XLSX without Index and comma-separated

In [ ]:
#data.to_excel("Data.xlsx", index=False)