In [64]:
import pandas as pd
import numpy as np

## Alle Daten

In [65]:
#data = pd.read_excel("karneval-kalorien_bereinigt_mit_Hersteller.xlsx")

# Ausgew√§hlte Daten inkl. fotos

In [69]:
data = pd.read_excel("Data.xlsx")

In [71]:
data.head()

,Supermarkt,Hersteller,Name,davon Zucker in g,Fett in g,Kalorien in kcal,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Aldi,Ludwig Schokolade GmbH und Co. KG,Race,56.8,19.7,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aldi,Ludwig Schokolade GmbH und Co. KG,Choco Bits,64.2,16.3,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3
2,Aldi,Ludwig Schokolade GmbH und Co. KG,Coconut Bits,48.1,24.7,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aldi,Ludwig Schokolade GmbH und Co. KG,GET'IT,44.0,23.0,484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aldi,Ludwig Schokolade GmbH und Co. KG,Crispy Bits,51.0,24.0,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#data = data[['Name','Hersteller', 'Kalorien in kcal']]

In [73]:
#data = data.reindex(data.index.rename(['Platzierung']))

In [74]:
#data.index = data['Name']

In [75]:
#data.drop(columns=data['data'], axis=1)

## Name/Rename Index

In [76]:
#data.index.name = 'Index'

In [77]:
#data.set_index(data['Name'])

## Get Length of Pandas Rows

In [78]:
len(data.index)

37

## Add Foto-Columns

In [79]:
#data['Fotos'] = "" #np.arange(len(data.index))

In [80]:
data.head()

,Supermarkt,Hersteller,Name,davon Zucker in g,Fett in g,Kalorien in kcal,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Aldi,Ludwig Schokolade GmbH und Co. KG,Race,56.8,19.7,467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aldi,Ludwig Schokolade GmbH und Co. KG,Choco Bits,64.2,16.3,452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.3
2,Aldi,Ludwig Schokolade GmbH und Co. KG,Coconut Bits,48.1,24.7,481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aldi,Ludwig Schokolade GmbH und Co. KG,GET'IT,44.0,23.0,484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aldi,Ludwig Schokolade GmbH und Co. KG,Crispy Bits,51.0,24.0,485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Add Fotos

In [81]:
#data['Fotos'] = data.Fotos.apply(lambda x: "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg")
#data.at[0, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_SelectionMini_Chrispy-Bits__DSC1486.jpg"
#data.at[1, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/LIDL_MC_Choco_Caramel_DSC1480.jpg"
#data.at[2, 'Fotos'] = "https://bilder.ams3.cdn.digitaloceanspaces.com/Aldi_Peanut-Bits_DSC1491.jpg"

In [101]:
data.loc['Fotos'] = np.nan

/Users/mstauber/Data/Anaconda/anaconda/envs/data/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

## Change https to http

In [102]:
#data['Foto'] = data.Foto.apply(lambda x: x.replace("https", "http"))

## Result

In [103]:
data.head()

   Fotos          Name                         Hersteller  Kalorien in kcal
0    NaN          Race  Ludwig Schokolade GmbH und Co. KG             467.0
1    NaN    Choco Bits  Ludwig Schokolade GmbH und Co. KG             452.0
2    NaN  Coconut Bits  Ludwig Schokolade GmbH und Co. KG             481.0
3    NaN        GET'IT  Ludwig Schokolade GmbH und Co. KG             484.0
4    NaN   Crispy Bits  Ludwig Schokolade GmbH und Co. KG             485.0

## Rearrange Columns

In [104]:
data = data[['Fotos','Name','Hersteller','Kalorien in kcal']]

In [114]:
data

,Fotos,Name,Hersteller,Kalorien in kcal
0,NaN,Race,Ludwig Schokolade GmbH und Co. KG,467.0
1,NaN,Choco Bits,Ludwig Schokolade GmbH und Co. KG,452.0
2,NaN,Coconut Bits,Ludwig Schokolade GmbH und Co. KG,481.0
3,NaN,GET'IT,Ludwig Schokolade GmbH und Co. KG,484.0
4,NaN,Crispy Bits,Ludwig Schokolade GmbH und Co. KG,485.0
5,NaN,Hazelnut Bits,Ludwig Schokolade GmbH und Co. KG,486.0
6,NaN,Peanut Bits,Ludwig Schokolade GmbH und Co. KG,499.0
7,NaN,Choco & Caramel,Mister Choc,459.0
8,NaN,Peanut & Choco,Mister Choc,500.0
9,NaN,Smooth Caramel Bites,Choco Fun,450.0
10,NaN,Caramel Choco,Choco Bella,484.0
11,NaN,Caramel & Biscuts Bites,Choco Fun,498.0
12,NaN,Peanuts & Caramel Bites,Choco Fun,498.0
13,NaN,Peanut Choco,Choco Bella,500.0
14,NaN,Creamy,Ludwig Schokolade GmbH und Co. KG,459.0
15,NaN,Peanuts MINIS,Natra Chocolate International S.L.,504.0
16,NaN,SIMBA minis,Natra Chocolate International S.L.,512.0
17,NaN,Crack 'n' Snack,HG GmbH,530.0
18,NaN,Mars,Mars GmbH,449.0
19,NaN,MILKYWAY,MARS GmbH,451.0
20,NaN,Snickers,Mars GmbH,481.0
21,NaN,Lion White,Nestl√©,485.0
22,NaN,Bounty,Mars GmbH,487.0
23,NaN,Twix,Mars GmbH,492.0
24,NaN,Nuts,Nestl√©,492.0
25,NaN,nutella B-ready,Ferrero,521.0
26,NaN,KitKat Einzelriegel Classic 4-Finger-Riegel,Nestl√©,521.0
27,NaN,Knoppers NussRiegel,Storck,535.0
28,NaN,Daim Riegel,Mondelez,536.0
29,NaN,Hanuta,Ferrero,542.0
30,NaN,Milka und Oreo,Mondelez,548.0
31,NaN,Knoppers,Storck,551.0
32,NaN,Douplo,Ferrero,555.0
33,NaN,Kinder Country,Ferrero,561.0
34,NaN,Kinder Riegel,Ferrero,566.0
35,NaN,Yogurette,Ferrero,571.0
36,NaN,Kinder bueno,Ferrero,572.0
Fotos,NaN,NaN,NaN,NaN

In [118]:
data.drop(['Fotos'], inplace=True)

In [119]:
data

,Fotos,Name,Hersteller,Kalorien in kcal
0,NaN,Race,Ludwig Schokolade GmbH und Co. KG,467.0
1,NaN,Choco Bits,Ludwig Schokolade GmbH und Co. KG,452.0
2,NaN,Coconut Bits,Ludwig Schokolade GmbH und Co. KG,481.0
3,NaN,GET'IT,Ludwig Schokolade GmbH und Co. KG,484.0
4,NaN,Crispy Bits,Ludwig Schokolade GmbH und Co. KG,485.0
5,NaN,Hazelnut Bits,Ludwig Schokolade GmbH und Co. KG,486.0
6,NaN,Peanut Bits,Ludwig Schokolade GmbH und Co. KG,499.0
7,NaN,Choco & Caramel,Mister Choc,459.0
8,NaN,Peanut & Choco,Mister Choc,500.0
9,NaN,Smooth Caramel Bites,Choco Fun,450.0
10,NaN,Caramel Choco,Choco Bella,484.0
11,NaN,Caramel & Biscuts Bites,Choco Fun,498.0
12,NaN,Peanuts & Caramel Bites,Choco Fun,498.0
13,NaN,Peanut Choco,Choco Bella,500.0
14,NaN,Creamy,Ludwig Schokolade GmbH und Co. KG,459.0
15,NaN,Peanuts MINIS,Natra Chocolate International S.L.,504.0
16,NaN,SIMBA minis,Natra Chocolate International S.L.,512.0
17,NaN,Crack 'n' Snack,HG GmbH,530.0
18,NaN,Mars,Mars GmbH,449.0
19,NaN,MILKYWAY,MARS GmbH,451.0
20,NaN,Snickers,Mars GmbH,481.0
21,NaN,Lion White,Nestl√©,485.0
22,NaN,Bounty,Mars GmbH,487.0
23,NaN,Twix,Mars GmbH,492.0
24,NaN,Nuts,Nestl√©,492.0
25,NaN,nutella B-ready,Ferrero,521.0
26,NaN,KitKat Einzelriegel Classic 4-Finger-Riegel,Nestl√©,521.0
27,NaN,Knoppers NussRiegel,Storck,535.0
28,NaN,Daim Riegel,Mondelez,536.0
29,NaN,Hanuta,Ferrero,542.0
30,NaN,Milka und Oreo,Mondelez,548.0
31,NaN,Knoppers,Storck,551.0
32,NaN,Douplo,Ferrero,555.0
33,NaN,Kinder Country,Ferrero,561.0
34,NaN,Kinder Riegel,Ferrero,566.0
35,NaN,Yogurette,Ferrero,571.0
36,NaN,Kinder bueno,Ferrero,572.0

## Export CSV without Index and comma-separated

In [120]:
data.to_csv("Data.csv", sep=",", index=False)

## Export XLSX without Index and comma-separated

In [57]:
data.to_excel("Data.xlsx", index=False)